.featured-products-modal {
  display: none;

  &.is-active {
    display: block;
  }
}

.featured-products-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;

  &:empty {
    display: block;
  }
}

.featured-products-modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  display: flex;
  gap: 10px;
  z-index: 1000;
  max-width: 918px;
  width: 90%;
}

.featured-products-modal__container--reverse {
  flex-direction: row-reverse;
}

.featured-products-modal__close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;

  .svg-wrapper {
    width: 24px;
    height: 24px;
  }
}

.featured-products-modal__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.featured-products-modal__image {
  width: 411px;
  height: 438px;

  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

.featured-products-modal__heading {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0;
}

.featured-products-modal__text {
  h3,
  p {
    margin: 0;
  }

  h3 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    letter-spacing: 0;

    b {
      font-weight: 700;
      font-size: 20px;
    }
  }

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;

    b {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
